@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    background: #1C1C21;
    position: fixed;
    height: 60px!important;
    padding-top: 8px;
    overflow: hidden;
    z-index: 1;
    border: transparent;
    font-size: 30px;
}
.nav-name{
    text-transform: capitalize;
    color: black;
    font-size: 24px;
}
.nav-desc{
    text-transform: none;
    color: rgba(255, 255, 255, 0.822);
    font-size: 16px;
}
.nav-head img{
    margin-left: 60px;
}
.span-nav-head{
    display: block;
    text-align: center;
}
#sidebarMenu {
    border: transparent;
    z-index: 1;
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(to bottom, #E64C4C, #E64C4C, #FFA785);
    opacity: 92%;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.sidebarMenuInner:hover .nav-link:hover{
    background-color: black;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.2s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
.dropdown-menu button{
    transition: none !important;
}
.dropdown-toggle::after{
    display: none !important;    
}
.dropdown-menu:hover li:hover, 
.dropdown-menu:hover button:hover, 
.dropdown-menu:hover a:hover{
    color: white;
    background-color: #E64C4C;
}